@import '../../node_modules/bulma/bulma.sass';

h1
    padding-top: 20px;

.Numbers,
.Operators,
.Equal
    button
        width: 100%;
        padding: 30% 0;
        font-size: 30px;
        border: 1px solid #000;
        height: auto;
        box-sizing: border-box;
        border-radius: 0;
        @extend .button;

.Numbers
    button
        @extend .is-primary;

.Operators
    button
        @extend .is-success;

.Equal
    button
        @extend .is-danger;
        height: 100%;

.Display
    height: 80px;
    font-size: 30px;
    line-height: 80px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    padding: 0 20px;
    border-radius: 5px 5px 0 0;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
